:root {
  /* Main Colors */
  --pirmary-posh: #ffcc00;
  --pirmary-dark-posh: #e0b400;
  --secondary-posh: #00ccff;
  --secondary-dark-posh: #00aad5;
  --tertiary-posh: #ff005c;
  --tertiary-dark-posh: #c50047;
  /* Backgrounds */
  --bakcground-black-posh: #0a0b0d;
  --bakcground-darker-posh: #101113;
  --bakcground-dark-posh: #151618;
  --bakcground-medium-dark-posh: #191a1c;
  --bakcground-medium-posh: #222325;
  --bakcground-light-posh: #262729;
  /* Borders */
  --broder-dark-posh: #303133;
  /* Greys & Whites */
  --grey-posh: #7a7b7d;
  --grey-medium-light-posh: #909193;
  --grey-light-posh: #c0c1c3;
  --grey-off-white-posh: #e0e1e3;
  --grey-white-posh: #ffffff;

  /* From Site */
  --PhoneInput-color--focus: #03b2cb;
  --PhoneInputInternationalIconPhone-opacity: 0.8;
  --PhoneInputInternationalIconGlobe-opacity: 0.65;
  --PhoneInputCountrySelect-marginRight: 0.35em;
  --PhoneInputCountrySelectArrow-width: 0.3em;
  --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
  --PhoneInputCountrySelectArrow-borderWidth: 1px;
  --PhoneInputCountrySelectArrow-opacity: 0.45;
  --PhoneInputCountrySelectArrow-color: inherit;
  --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountrySelectArrow-transform: rotate(45deg);
  --PhoneInputCountryFlag-aspectRatio: 1.5;
  --PhoneInputCountryFlag-height: 1em;
  --PhoneInputCountryFlag-borderWidth: 1px;
  --PhoneInputCountryFlag-borderColor: rgba(0, 0, 0, 0.5);
  --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
  --PhoneInputCountryFlag-backgroundColor--loading: rgba(0, 0, 0, 0.1);
}

*,
:after,
:before {
  box-sizing: border-box !important;
}

::-webkit-scrollbar {
  background: #0c0d0f;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2a2b2d;
  border: 1px solid #4a4b4d;
  border-radius: 4px;
  opacity: 0.8;
}

/* .app {
  color: var(--pirmary-posh);
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito",helvetica,verdana,nunito;
  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(45deg, var(--bakcground-dark-posh), var(--bakcground-black-posh));
  scroll-behavior: smooth;
  
}

/* City Selector Container */
.city-selector {
  background: #000;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* All <divs> in container */
.city-selector > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1.3);
  gap: 40px;
  max-width: 450px;
  width: 100%;
}

/* City Selection Header */
.city-selector-prompt {
  color: var(--pirmary-posh);
  text-transform: uppercase;
  font-family: Circular Std;
  font-weight: 200;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  animation: fadeInDownB 2s forwards;
}

/* Cit Selection */
.city-selector-cities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.CitySelector-cities > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 70px;
  border: 1px solid var(--secondary-posh);
  box-shadow: 0 0 10px -2px var(--secondary-posh), 0px 0px 10px var(--secondary-posh) inset;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--secondary-posh);
  font-family: Nunito;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  animation: fadeInRightB 2s forwards ease-out;
  opacity: 0;
  transform: translateY(200px);
}

.CitySelector-cities > div.gold {
  color: var(--pirmary-posh);
  border: 1px solid var(--pirmary-posh);
  box-shadow: 0 0 10px -2px var(--pirmary-posh), 0px 0px 10px var(--pirmary-posh) inset;
}
